<style type="text/css">
#footer {
    background-color: #222222;
    position: relative;
    height: 251px;
    border-top: 1px solid #797777;
    color: #797777;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    padding-top: 40px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
    $(function() {
    var availableTags = ["1010data", "10gen", "3D Lab Works", "3Qi Labs  Inc", "3S Business Corporation.INC.", "500friends", "ABLSoft  Inc", "Accela", "Accela  Inc.", "Access Softek", "Aclat  Incorporated", "ACME Technologies  Inc.", "Adaequare Inc.", "Adaptrum", "adRise  Inc.", "AdTonik", "Aetion  Inc.", "Affirm", "Agilent Technologies", "AgLocal", "Akamai Technologies", "Altitude Co.", "Alucid Technologies", "Amazon", "Anatomage Inc", "Anblicks LLC", "ANI", "Anjaneyap (ASI) Inc.", "Anjaneyap Global Inc", "Antra Inc.", "App Annie", "Apple Inc.", "AQT Solutions", "Arbor Financial Systems", "AurionPro Solutions  Inc.", "Axcient", "Babel", "Badger Maps", "Berkeley Air Monitoring Group", "Big Switch Networks", "Bigcommerce", "BinWise Inc", "BItium", "BizFlow Corporation", "Blackbaud", "Bleacher Report", "Bloomberg LP", "BloomReach", "BoomTown - Real Estate Web Platform", "Box", "BrightEdge Technologies Inc", "BRIGHTERION", "Bristlecone Inc.", "Brocade Communication Systems  Inc.", "C3 Energy", "Calculx Inc", "CallidusCloud", "Campus Cribz", "CaptainU", "CareerDean", "Castle Digital Services", "Castlight Health", "CCS Global Tech", "CEA", "Cerner Corporation", "CerteDrive", "Charles River Development", "Chartio", "Chatango", "Chirp Microsystems", "Chopper Trading", "CipherHealth", "Cisco SF (Formerly Meraki)", "Citrix", "Clarity Solutions Group LLC", "ClearCare", "ClickTime.com  Inc.", "Cloudbook", "Cloudeeva Inc.", "Codazen", "Cognoa", "Cohesive Technologies LLC", "Constant Contact", "Continu", "Continuuity", "Convo", "Coursera", "CSRware  Inc", "Cureatr", "Customer Lobby", "D. E. Shaw Research", "D.E. Shaw Group", "DataSift", "Demandbase", "Dexter Systems Inc", "DGLogik  Inc.", "Digital IT", "Digital Mountain  Inc.", "DirectRM  Inc", "DocSend", "DocSpot", "Docusign", "Domeyard LP", "Dot & Bo Inc.", "Drawbridge  Inc.", "Dream Staffing LLC", "Duetto", "Earnest", "Eaze", "eLearn", "Electronic Arts", "Electronics For Imaging (EFI)", "Ellison Technologies", "EMC", "Employer Name Withheld", "Epoxy", "ERSO", "ESRI", "Evernote", "Evolve LLC", "Exegy  Inc", "Exeray", "Factual", "Faithlife / Logos Bible Software", "Fanvana", "Fieldwire", "FindLight", "Fitbit", "Five Stars", "Fixed", "Fluencia", "Flux", "Flying Wisdom Studios", "Fora", "FounderDating", "FreeLogue Inc.", "Fujitsu America  Inc", "Full Circle CRM", "Furaxa  Inc.", "FusionFind LLC", "Gain America Inc.", "Gainsight", "GameOn", "GapJumpers", "Gelber Group - San Diego", "Geneva Energy Markets", "Get Satisfaction  Inc.", "Ghosh Enterprises", "Gigya", "Giva Inc.", "GMEP Engineers", "Go Abroad China", "Goalbook", "Gold Coast IT Solutions LLC", "Goodnet", "Gourmand", "GovInvest", "Grammarly", "GREE International Inc.", "Grit Media", "Grover Gaming", "Guidance Software", "Guidebook", "Guidewire Software  Inc.", "Heller Consulting  Inc.", "Hello Design", "Heyzap Inc.", "Honeit  Inc.", "HookLogic  Inc.", "Hovee", "HSBC Software Development (Guangdong) Limited", "HubSpot", "Human Dx", "IBM (University Recruiting & Relations)", "IBM GTS Cloud", "IBM Research", "iConsultUS INC.", "ID Business Solutions", "Imanami Corporation", "Imgur", "imo.im", "Incapture Technologies", "Infosys Ltd", "InstaViser", "Instinet", "Intelligrated", "Intellisoft Technologies Inc", "Intentional Software", "Intera Growth Partners", "InterSystems Corporation", "Intuit Inc.", "iSoftstone", "IT Hoppers", "IXL Learning  Inc.", "Kanjoya", "Khan Academy", "Knewton", "L.", "LaborVoices", "Lam Research Corporation", "Lawrence Berkeley National Lab", "LawRoom", "Legit Labs Inc.", "LendingTree", "LinkedIn", "Localwise", "Location Labs", "Luvlaf", "Macedon Technologies", "Machine Zone", "Magoosh", "Maicoin", "Major League Fantasy Inc", "Mansa Systems LLC", "Marketo", "Marvell Technology Group", "MathWorks", "MediaMelon  Inc.", "Meltwater Group", "MemSQL", "MemSQL  Inc.", "Mentor Graphics", "Meograph", "Metanautix", "Microsoft Corporation", "Milyli  Inc.", "MIR Partners Inc.", "Mocana Corporation", "MogoTXT  Inc.", "Moka5", "Moloco  Inc", "Mulesoft", "Munchery", "Neo Technology", "NET ESolutions", "NetApp Inc.", "NetSuite", "Neustar  Inc.", "New Classrooms", "New Home Solar Power  Inc.", "New Relic", "Newnal", "Nexenta Systems", "NextGate Solutions  Inc.", "NextLabs  Inc.", "NICE Systems", "Nigel Frank International", "Nitro", "Nitrous.IO", "Ntent", "Nudgit  Inc.", "NVIDIA", "Object Edge Inc.", "OfficeTeam", "Okta", "Omada Health  Inc.", "ON24", "One Less Thing", "OneWire", "Onvard", "Oomnitza Inc", "OpenDNS", "Opera Mediaworks", "Optra Systems Inc", "Oracle America", "Oracle Corporation", "OSIsoft", "Palamida  Inc.", "Parkland Center for Clinical Innovation", "Path", "Paxata", "Paycom", "Pegasys Systems & Technologies  Inc", "Perforce Software", "Peri Software Solutions Inc", "Pixiboard", "Planisware USA  Inc.", "Playnomics", "Pocket Gems", "Polyvore", "POWr.io", "PowWow Energy", "Premise Data Corporation", "ProIT Inc.", "PubNub", "Qolsys Inc.", "quantumKDB", "Quizlet.com", "Quora", "Quri", "Rang Technologies Inc.", "Reflektion", "ReqRoute  Inc.", "Reservoir Labs  Inc.", "Respawn Entertainment", "Revel Systems Inc.", "Revivn", "Rex Consulting  Inc.", "Reynolds & Reynolds", "Rigetti Quantum Computing", "Riot Games", "Ripple Labs", "Riscure", "RMS  Inc", "ROBLOX", "RockAuto", "Rockon Technologies", "Roqbot", "RowdMap", "RR Donnelley", "Ruckus Wireless", "Rumble", "RWG America", "Saber Surge  Inc.", "Sageworks  Inc.", "Salesforce.com", "salesprognosis", "SAP", "SB Marketing Inc", "SchedMD", "SCM D", "Sennovate  Inc.", "ServiceNow", "ServiceTitan", "Seyara", "SIGNPOST", "Sikka Software", "Silicon Valley Biosystems", "SK hynix memory solutions", "SlipCal", "Snip2Code", "SOASTA", "Soldsie", "Sookasa", "Spartan Software  Inc.", "Speedy Packets Inc.", "Splunk  Inc.", "SpoonRocket  Inc.", "Sprout Social", "Squarespace", "SRI International", "SS8", "Statisfy", "Stottler Henke Associates  Inc.", "Streamline Simulations  LLC", "Google", "Stroz Friedberg", "Study Soup", "Sun Merge Systems Inc.", "SunSoft LLC", "Super Boise Studios", "SuperAGELESS", "Support.com", "Swarm", "Symphony Commerce  Inc.", "Synaptic Talent", "SynergisticIT", "Synopsys  Inc.", "Tagged  Inc", "TalentBin/Monster", "Talkray", "TapSense  Inc", "TechExcel  Inc.", "Technical Consulting and Research  Inc.", "Tek Tree INC", "TekTree LLC", "TellApart", "Temboo", "Tensoft  Inc.", "Teradata Corporation", "The Bouqs Company", "The Climate Corporation", "The Linde Group", "Think Big Analytics", "Thoughtworks", "Tom Sawyer Software", "Tradeshift", "Trainer Rx", "Transcend Inc", "Transifex", "TransMarket Group L.L.C", "Transperfect", "Tribe Dynamics", "TrueAccord", "Trulia  Inc.", "Trusper  Inc", "TubeMogul", "Tutor Trove", "Twitter", "U.S. Commercial Service", "Uniiverse", "Unisys", "Universities Space Research Association", "Upland Softawre", "UXPin", "VCE - The Virtual Computing Environment Company", "Veeva Systems", "Velos  Inc.", "Verlocal", "Via", "Virtu Financial", "Vitech Systems Group  Inc.", "Viva Technics", "VMware", "Voicent Communications  Inc", "VSCO (Visual Supply Co)", "VSS Monitoring", "Vurb", "WalkMe", "Wealthfront", "Wedding Spot", "Western Digital", "WhizOffer", "Wiser", "Wix.com", "Workday", "WorkTies", "WriteLab", "Wymsee Inc.", "Xamarin", "Xilinx SIV", "Xprudent Corporation", "Yahoo Inc.", "Yiftee", "Zanbato  Inc.", "ZenPayroll", "Ziffow Infotech Inc", "Zindagi Games", "Zurf"]
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
</script>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <i class="fa fa-home"></i>
            Callisto ReInvented
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- nav bar buttons go here if needed -->
          </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign In",  new_user_session_path %></li>
        </ul>
      </div>
    </div>
  </div>

<div class="container" style="width:500px;margin: 0 auto;">      
    <h1>
        <i class="fa fa-sign-in"></i>
        Sign up
    </h1>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#student-tab" data-toggle="tab">Student <i class="fa"></i></a></li>
        <li><a href="#employer-tab" data-toggle="tab">Employer <i class="fa"></i></a></li>
    </ul>
    <div id='myTabContend' class="tab-content">
        <div class="tab-pane active in" id="student-tab">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :type, value: "Student" %>
                <p></p>

                <div class="form-group">
                    <h5><%= f.label :email %></h5>
                    <%= f.text_field :email, class: "form-control",autofocus: true %>
                </div>

                <div class="form-group">
                    <h5><%= f.label :password %><small> Must have more than 8 characters</small></h5>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                    <h5><%= f.label :skill %><small> Separate by commas</small></h5>
                    <%= f.text_area :skill, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                        <%= f.submit "Sign up", class: "btn btn-primary", id: "studentSubmit" %>
                </div>

            <% end %>
        </div>
        <div class="tab-pane fade" id="employer-tab">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :type, value: "Employer" %>
                <p></p>
                <div class="form-group">
                    <h5><%= f.label :email %><small> Please use your official working email</small></h5>
                    <%= f.text_field :email, class: "form-control",autofocus: true %>
                </div>

                <div class="form-group">
                    <h5><%= f.label :password %><small> Must have more than 8 characters</small></h5>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                    <h5><%= f.label :company_name, for: "tags" %><small> If your company is not among existing companies, leave blank</small></h5>
                    <%= f.text_field :company_name, id:"tags", autocomplete: "on", class: "form-control" %>
                </div>

                <div class="form-group">
                        <%= f.submit "Sign up", class: "btn btn-primary", id: "employerSubmit" %>
                </div>

            <% end %>
        </div>
    </div>


    

    </div>
    <div id="footer" class="hidden-print">
        <div class="containter text-center">
            <p class="muted credit">
                <i class="fa fa-copyright"></i>
                Callisto ReInvented v 1.0
            </p>
            <p>
                Created by Alex Jin, Alex Neilson, Eunbe Grace Kim, Jass Chen, Weijia Jin <i class="fa fa-at"></i> UC Berkeley
            </p>
        </div>
    </div>
</body>