<style type="text/css">
.jumbotron {
	margin-top: -10px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", events_path %></li>
	        	<li><%= link_to "Jobs", '/users/jobs' %></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
	<div class="jumbotron jumbotron-carousel hidden-print">
		<div ="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 text-center">
					<h1>
						<i class="fa fa-search"></i>
							Job Search
					</h1>
					<h5>
						<i class="fa fa-bolt"></i>
						Simple and Easy Job Search!
					</h5>
				</div>
				<div class="col-md-4 col-sm-4">
					<!-- Berkeley Icon goes here -->
	    			<div class="panel panel-default">
				  		<div class="panel-heading">
							<small>Simple search keywords</small>
					        <div class="input-group">
						      <input type="text" class="form-control" placeholder="Simple Search">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button">Go!</button>
						      </span>
						    </div>
						    <p></p>
						    <small>Advanced search keywords</small>
					        <div class="input-group">
						      <input type="text" class="form-control" placeholder="Advanced Search">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button">Go!</button>
						      </span>
					    	</div>
				  		</div>
					</div>
    			</div>
			</div>	
		</div>
	</div>
	<div class="container">
		<div class="row">
    		<div class="col-xs-3">
    			<br></br>
    			<div class="panel panel-default">
				  <div class="panel-heading">

				    <h2 class="panel-title">Search</h2>
				  	</div>
				  	<div class="panel-body">
						<small>Simple search keywords</small>
				        <div class="input-group">
					      <input type="text" class="form-control" placeholder="Simple Search">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div>
					    <p></p>
					    <small>Advanced search keywords</small>
				        <div class="input-group">
					      <input type="text" class="form-control" placeholder="Advanced Search">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div>
				  </div>
				</div>	
				<% if current_user.type == "Employer" -%>
				<div type="button" class="btn btn-primary">
					<%= link_to "Create", create_post_path %>
				</div>
				<% end %>
    		</div>
    		<div class="col-xs-9">
      			<div class="row">
        			<div class="col-md-10">
        				<h1 class="page-header">Result</h1>
        				<div class="row">
	        				<table class="table table-striped">
	        					<!-- On rows -->
	        					<thread>
	        					<tr>
	        						<th>Title</th>
	        						<th>Company</th>
	        						<th>Type</th>
	        						<th>Info</th>
	        						<th>Skill</th>
	        					</tr>
	        					</thread>	
								<tbody>
									<% @jobposting.each do |posting| %>
						            <tr>
						              <td><%= posting.title %></td>
						              <td><%= posting.company_name %></td>
						              <td><%= posting.type %></td>
						              <td><%= posting.info %></td>
						              <td><%= posting.skill %></td>
						              <td><%= link_to 'Show', company %></td>
						              <td><%= link_to 'Edit', edit_company_path(company) %></td>
						              <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						            </tr>
						          <% end %>
							    </tbody>
							</table>

							<ul class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div>
        			</div>
        		</div>
      		</div>
  		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>