<head>
	<ul class="nav nav-tabs">
		<li><%= link_to "Profile", profile_path %></li>
		<li><%= link_to "DashBoard", dashboard_path %></li>
		<li><%= link_to "Calendar", calendar_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
	</ul>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
    		<div class="col-xs-3">
    			<h1>Search</h1>
				<button type="button" class="btn btn-default">Edit</button>
    		</div>
    		<div class="col-xs-9">
      			<div class="row">
        			<div class="col-md-10">
        				<h1 class="page-header">Result</h1>
        				<div class="row">
	        				<table class="table table-striped">
	        					<!-- On rows -->
	        					<thread>
	        					<tr>
	        						<th>Job Title<th>
	        						<th>Job Type<th>
	        						<th>Employer<th>
	        						<th>Skill Required<th>
	        						<th>Deadline<th>
	        					</tr>
	        					</thread>	
								<!-- On cells (`td` or `th`) -->
								<tbody>
								<tr>
									<td><%= link_to "Software Developer", post_path %></td>
									<td>Internship</td>
									<td>Google</td>
									<td>Oct 6, 20:00</td>
								</tr>
								</tbody>
							</table>
						</div>
        			</div>
        		</div>
      		</div>
  		</div>
	</div>
</body>