<style type="text/css">
.jumbotron {
	margin-top: -10px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", '/users/calendar' %></li>
	        	<li><%= link_to "Jobs", '/users/jobs' %></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
	<div class="jumbotron jumbotron-carousel hidden-print">
		<div ="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 text-center">
					<h1>
						<i class="fa fa-search"></i>
							Job Search
					</h1>
					<h5>
						<i class="fa fa-bolt"></i>
						Simple and Easy Job Search!
					</h5>
				</div>	
			</div>
		</div>
	</div> 
	<div class="container">
		<div class="row">
    		<div class="col-xs-3">
    			<br></br>
    			<div class="panel panel-default">
				  <div class="panel-heading">

				    <h2 class="panel-title">Search</h2>
				  	</div>
				  	<div class="panel-body">
						<small>Simple search keywords</small>
				        <div class="input-group">
					      <input type="text" class="form-control" placeholder="Simple Search">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div>
					    <p></p>
					    <small>Advanced search keywords</small>
				        <div class="input-group">
					      <input type="text" class="form-control" placeholder="Advanced Search">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="button">Go!</button>
					      </span>
					    </div>
				  </div>
				</div>
				<!-- Only allow an employer to create a job post -->	
				<div id="create_post">
					<h3>
						<i class="fa fa-plus-circle"></i>
						<%= link_to "Create", create_post_path %>
					</h3>
				</div>	
    		</div>
    		<div class="col-xs-9">
      			<div class="row">
        			<div class="col-md-10">
        				<h1 class="page-header">Result</h1>
        				<div class="row">
	        				<table class="table table-hover" style="width:100%">
	        					<!-- On rows -->
	        					<tr>
	        						<th>Job Title<th>
	        						<th>Job Type<th>
	        						<th>Employer<th>
	        						<th>Deadline<th>
	        					</tr>
								<!-- On cells (`td` or `th`) -->
								<tr>
									<td>
										<ul class="nav nav-pills">
  											<li class="enabled"><%= link_to "Software Engineering", post_path %></li>
										</ul>
									</td>
									<td>Internship</td>
									<td>Google</td>
									<td>Oct 6, 20:00</td>
								</tr>
							</table>

							<ul class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>
						</div>
        			</div>
        		</div>
      		</div>
  		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>