<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>

<head>
	<ul class="nav nav-tabs">
		<li><%= link_to "Profile", profile_path %></li>
		<li><%= link_to "DashBoard", dashboard_path %></li>
		<li><%= link_to "Calendar", calendar_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
		<li class="pull-right"><%= link_to "Log Out" %></li>
	</ul>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron">
			 	<h1>Callisto ReInvented</h1>
			 	<p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
				  <li><%= link_to "Register (Student)", register_path %></li>
				  <li><%= link_to "Register (Employer)", com_register_path %></li>
				</ol>
				<form class="form-signin" role="form">
					<input type="email" class="form-control" placeholder="Email address" required autofocus>
					<p></p>
					<input type="password" class="form-control" placeholder="Password" required>
					<p></p>
					<div class="register-buttons">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>