<head>
	<ul class="nav nav-tabs">
		<li><%= link_to "Profile", profile_path %></li>
		<li><%= link_to "DashBoard", dashboard_path %></li>
		<li><%= link_to "Calendar", calendar_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
		<li class="pull-right"><%= link_to "Log Out" %></li>
	</ul>
</head>
<body>
	<div class="container">
		<h1 class="page-header">Welcome</h1>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>	
</body>