<head>
	<ul class="nav nav-tabs">
		<li><%= link_to "Profile", profile_path %></li>
		<li><%= link_to "DashBoard", dashboard_path %></li>
		<li><%= link_to "Calendar", calendar_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
		<li class="pull-right"><%= link_to "Log Out" %></li>
	</ul>
</head>
<body>
	<div class="container">
		<div class="row">

			<div class="col-md-9">
				<h1 class="page-header">Job Post Title</h1>
				<h2> job info goes here </h2>
			</div>
			<div class="col-xs-3">
				<br></br>
				<div class="list-group">
				  <a href="https://www.google.com/about/careers/search?src=Online/TOPs/NA+Tech+University#!t=jo&jid=3256001" target="_blank" class="list-group-item active">
				    <h4 class="list-group-item-heading">Apply</h4>
				    <p class="list-group-item-text">Apply through company's website</p>
				  </a>
				</div>
			</div>
			
		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>