<head>
	<ul class="nav nav-tabs">
		<li><%= link_to "Profile", profile_path %></li>
		<li><%= link_to "DashBoard", dashboard_path %></li>
		<li><%= link_to "Calendar", calendar_path %></li>
		<li><%= link_to "Jobs", jobs_path %></li>
		<li class="pull-right"><%= link_to "Log Out" %></li>
	</ul>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h1 class="page-header">Experiences</h1>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Experience 1</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Experience 2</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-md-9">
						<h1 class="page-header">Personal informaion</h1>
						<button type="button" class="btn btn-default">Edit</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9">
						<h1 class="page-header">Recommendations</h1>
						<button type="button" class="btn btn-default">Edit</button>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<h1 class="page-header">Skills</h1>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Skill 1</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
 		<div class="navbar navbar-inner  navbar-fixed-bottom">
   		<p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
 	</div>
</body>