<body>
	<div class="wrap">
		<div class="navbar navbar-inverse navbar-fixed-top hidden-print">
			<div class="container">
				<div class="navbar-header">
			      <a class="navbar-brand" href="/">
			      	<i class="fa fa-home"></i>
			      	Callisto ReInvented
			      </a>
			    </div>
			    <div class="navbar-collapse collapse">
			    	<ul class="nav navbar-nav">
			    		<!-- nav bar buttons go here if needed -->
			    	</ul>
					<ul class="nav navbar-nav navbar-right">
			    		<li><%= link_to "Sign Up",  new_user_registration_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container" style="height:500px;width:500px;margin: 0 auto;">
			<h1>
				<i class="fa fa-question-circle"></i>
				Forgot your password?
			</h1>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>
		        <h5><%= f.label :email %> <small> We will send password recovery instructions to the email.</small></h5>
		        <%= f.text_field :email, class: "form-control", autofocus: true %>
		        <p></p>
		        <div class="form-group">
					<%= f.submit "Send", class: "btn btn-primary" %>
				</div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
</body>
