<style type="text/css">
.jumbotron {
  margin-top: -10px;
}

#footer {
  background-color: #222222;
  position: relative;
  height: 251px;
  border-top: 1px solid #797777;
  color: #797777;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  padding-top: 40px;
}
</style>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <i class="fa fa-home"></i>
              Callisto ReInvented
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to "DashBoard", '/users/dashboard' %></li>
            <li><%= link_to "Event", '/users/calendar' %></li>
            <li><%= link_to "Jobs", '/posting/all' %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
      </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- nav bar buttons go here if needed -->
            </ul>
          </div>
      </div>
    </div>
  <div class="jumbotron jumbotron-carousel hidden-print">
    <div ="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 text-center">
          <h1>
            <i class="fa fa-calendar-o"></i>
              Events
          </h1>
          <h5>
            <i class="fa fa-bell-o"></i>
              Keep Tracking on Deadlines and Upcoming Events
          </h5>
        </div>  
      </div>
    </div>
  </div> 
  <div class="container">
    <div class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Search</h2>
        </div>
        <div class="panel-body">
          <h5>Keyword <small>Search keywords</small></h5>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
               </span>
          </div><!-- /input-group -->
        </div>
      </div>
      <!-- Only allow an employer to create a job post -->  
      <div id="create_post">
        <h3>
          <i class="fa fa-plus-circle"></i>
          <%= link_to "Create", new_event_path %>
        </h3>
      </div>
    </div>

    <div class="col-xs-9">  
      <span class="label label-default">Today</span>
      <span class="label label-primary">Primary</span>
      <span class="label label-success">RSVP'ed</span>
      <span class="label label-info">Info</span>
      <span class="label label-warning">Deadline</span>
      <span class="label label-danger">Overdue</span>
      <h3>
          <i class="fa fa-volume-up"></i>
          Event List
      </h3> <small> Upcoming events hosted by all companies. </small>
      <div class="panel-body">
        <!-- Table -->
        <table class="table table-hover" style="width:100%">
          <thread><tr>
              <th>Title</th>
              <th>Company</th> 
              <th>Type</th>
              <th>Info</th>
              <th>Date</th>
          </tr></thread>
          <tbody>
              <% @events.each do |event| %>
                <tr>
                  <td><%= event.event_title %></td>
                  <td><%= event.event_company %></td>
                  <td><%= event.event_type %></td>
                  <td><%= event.event_info %></td>
                  <td><%= event.event_date %></td>
                  <% if current_user.type == "Employer" %>
                    <td><%= link_to 'Edit', edit_event_path(event) %></td>
                    <td><%= link_to 'Cancel Event', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="footer" class="hidden-print">
    <div class="containter text-center">
        <p class="muted credit">
          <i class="fa fa-copyright"></i>
          Callisto ReInvented v 1.0
        </p>
        <p>
          Created by Alex Jin, Alex Neilson, Eunbe Grace Kim, Jass Chen, Weijia Jin <i class="fa fa-at"></i> UC Berkeley
        </p>
    </div>
  </div>  
</body>