<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <i class="fa fa-home"></i>
              Callisto ReInvented
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to "DashBoard", '/users/dashboard' %></li>
            <li><%= link_to "Event", '/events' %></li>
            <li><%= link_to "Jobs", '/posting/all' %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
      </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- nav bar buttons go here if needed -->
            </ul>
          </div>
      </div>
    </div>
  <div id="jumbotron" class="jumbotron jumbotron-carousel hidden-print">
    <div ="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 text-center">
          <h1>
            <i class="fa fa-calendar-o"></i>
              Events
          </h1>
          <h5>
            <p class="lead">
              <i class="fa fa-bell-o"></i>
              Keep Tracking on Deadlines and Upcoming Events
            </p>
          </h5>
        </div>  
      </div>
    </div>
  </div> 
  <div class="container">
    <div class="col-xs-3">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Search</h2>
        </div>
        <div class="panel-body">
          <h5>Keyword <small>Search keywords</small></h5>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
               </span>
          </div>
        </div>
      </div>
      <!-- Only allow an employer to create a job post -->  
      <div id="create_post">
        <% if current_user.type == "Employer" -%>
          <h3>
            <i class="fa fa-plus-circle"></i>
            <%= link_to "Create", new_event_path %>
          </h3>
        <% end %>
      </div>
    </div>

    <div class="col-xs-9">  
      <h3>
          <i class="fa fa-volume-up"></i>
          Event List
      </h3> <small> Upcoming events hosted by all companies. </small>
      <div class="panel-body">
        <!-- Table -->
        <table class="table table-hover" style="width:100%">
          <thread><tr>
              <th>Title</th>
              <th>Company</th> 
              <th>Type</th>
              <th>Date</th>
          </tr></thread>
          <tbody>
              <% @events.each do |event| %>
                <tr>
                  <% String id = "/events/"+event.id.to_s %>
                  <td><a href='<%=id%>'><%= event.event_title %></a></td>
                  <!--<td><%= event.event_title %></td>-->
                  <td><%= event.event_company %></td>
                  <td><%= event.event_type %></td>
                  <td><%= event.event_date %></td>
                  <% if current_user.type == "Employer" %>
                    <td><%= link_to 'Edit', edit_event_path(event) %></td>
                    <td><%= link_to 'Cancel Event', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</body>