<body>
    <div id="jumbotron" class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", '/events' %></li>
	        	<li><%= link_to "Jobs", '/users/jobs' %></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
  	<div class="container" style="width:500px;margin: 0 auto;">      
	    <hr class="half-rule">
	    <h3 class="home-title">New Event</h3>

	    <div class="list">
			<%= render 'form' %>
				<i class="fa fa-chevron-left"></i>
				<%= link_to 'Back', events_path %>
		</div>
	</div>
</body>
