<style type="text/css">
.jumbotron {
	margin-top: -10px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", events_path %></li>
	        	<li><%= link_to "Jobs", '/users/jobs' %></li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
  	<div class="container" style="width:500px;margin: 0 auto;">      
    <h1>
        <i class="fa fa-sign-in"></i>
        New Event
    </h1>
	<%= render 'form' %>

	<h3>
		<i class="fa fa-chevron-left"></i>
		<%= link_to 'Back', events_path %>
	</h3>
	</div>
	<footer class="footer">
        <p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
    </footer>
</body>
