<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <i class="fa fa-homegi"></i>
              Callisto ReInvented
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to "DashBoard", '/users/dashboard' %></li>
            <li><%= link_to "Event", events_path %></li>
            <li><%= link_to "Jobs", '/posting/all' %></li>          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
      </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- nav bar buttons go here if needed -->
            </ul>
          </div>
      </div>
    </div>
  <div class="container" style="height:500px;width:700px;margin: auto">
    <p id="notice"><%= notice %></p>
      <h1 class="page-header">
        <%= @event.event_title %>
        <small> <%= @event.event_type %></small>
      </h1>
      <div class="panel panel-info">
        <div class="panel-heading">
          <p class="list-group-item-text">hosted by <h4><%= @event.event_company %></h4> <i class="fa fa-at"></i> <%= @event.event_date %></p>
        </div>
        <div class="panel-body">
          <%= @event.event_info %>
        </div>
      </div>

    <% if current_user.type == "Employer" -%>
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %>
    <% end %>
  </div>
</body>

