<%= form_for @company , :url => { :action => "add" } do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-left:20px" class="form-group">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div style="margin-left:20px" class="form-group">
    <%= f.label :company_info %><br>
    <%= f.text_area :company_info, style: "width:500px; height:70px;" %>
  </div>
  <div style="margin-left:20px" >
    <%= f.submit "Create company", class: "btn btn-primary" %>
  </div>
<% end %>
