<%= form_for @company, :url => { :action => 'add' } do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <h5><%= f.label :company_name %><small> insert a name of a company. </small></h5>
    <%= f.text_field :company_name, class: "form-control",autofocus: true %>
  </div>
  <div class="form-group">
    <h5><%= f.label :company_info %><small> insert a brief description of a company. </small></h5>
    <%= f.text_area :company_info, class: "form-control",autofocus: true %>
  </div>
  <div style="margin-left:20px" >
    <%= f.submit "Done", class: "btn btn-primary" %>
  </div>
<% end %>
