<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-bars fa-lg"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
				<li><%= link_to "Profile", com_profile_path %></li>
				<li><%= link_to "DashBoard", dashboard_path %></li>
	        	<li><%= link_to "Event", events_path %></li>
				<li><%= link_to "Jobs", jobs_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to "Log Out",  destroy_user_session_path, :method => :delete %>
				</li>
			</ul>
		</div>
	</div>

	<h1>Editing company</h1>

	<%= form_for @company, :url => {:action => "update", :id => @company} do |f| %>
	  <% if @company.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

	      <ul>
	      <% @company.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div style="margin-left:20px" class="form-group">
	    <%= f.label :company_name %><br>
	    <%= f.text_field :company_name %>
	  </div>
	  <div style="margin-left:20px" class="form-group">
	    <%= f.label :company_info %><br>
	    <%= f.text_area :company_info, style: "width:500px; height:70px;" %>
	  </div>
	  <div style="margin-left:20px" >
	    <%= f.submit "Done", class: "btn btn-primary" %>
	  </div>
	<% end %>
	<%= link_to 'Show', @company %> |
	<%= link_to 'Back', companies_path %>

	 <footer class="footer">
        <p class="muted credit"><center>Callisto ReInvented | 2014</center></p>
    </footer>
</body>
