<style type="text/css">
.jumbotron {
  margin-top: -10px;
}

#footer {
  background-color: #222222;
  position: relative;
  height: 251px;
  border-top: 1px solid #797777;
  color: #797777;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  padding-top: 40px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <i class="fa fa-home"></i>
              Callisto ReInvented
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to "DashBoard", '/users/dashboard' %></li>
            <li><%= link_to "Event", events_path %></li>
            <li><%= link_to "Jobs", '/posting/all' %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
      </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- nav bar buttons go here if needed -->
            </ul>
          </div>
      </div>
    </div>
  <div class="jumbotron jumbotron-carousel hidden-print">
    <div ="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 text-center">
          <h1>
            <i class="fa fa-bars"></i>
              Company List
          </h1>
          <h5>
            <i class="fa fa-bell-o"></i>
              What are the companies on our database?
          </h5>
        </div>  
      </div>
    </div>
  </div>
  <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Company</th>
            <th>Company name</th>
            <th>Company info</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td><%= company.company_id %></td>
              <td><%= company.company_name %></td>
              <td><%= company.company_info %></td>
              <% if current_user.company_name==company.company_name %>
              <td><%= link_to 'Edit', edit_company_path(company) %>
              <%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% else %>
                <td> None </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h4>
        <i class="fa fa-plus-circle"></i>
        <%= link_to 'Add Company', new_company_path %>
      </h4>
  </div>
  <div id="footer" class="hidden-print">
    <div class="containter text-center">
        <p class="muted credit">
          <i class="fa fa-copyright"></i>
          Callisto ReInvented v 1.0
        </p>
        <p>
          Created by Alex Jin, Alex Neilson, Eunbe Grace Kim, Jass Chen, Weijia Jin <i class="fa fa-at"></i> UC Berkeley
        </p>
    </div>
  </div>
</body>
