<style type="text/css">
.jumbotron {
  margin-top: -10px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <i class="fa fa-home"></i>
              Callisto ReInvented
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to "DashBoard", '/users/dashboard' %></li>
            <li><%= link_to "Event", '/users/calendar' %></li>
            <li><%= link_to "Jobs", '/users/jobs' %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
      </ul>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- nav bar buttons go here if needed -->
            </ul>
          </div>
      </div>
    </div>
  <div class="jumbotron jumbotron-carousel hidden-print">
    <div ="container">
      <div class="row">
        <div class="col-md-8 col-sm-8 text-center">
          <h1>
            <i class="fa fa-bars"></i>
              Company List
          </h1>
          <h5>
            <i class="fa fa-bell-o"></i>
              What are the companies on our database?
          </h5>
        </div>  
      </div>
    </div>
  </div>
  <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Company</th>
            <th>Company name</th>
            <th>Company info</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td><%= company.company_id %></td>
              <td><%= company.company_name %></td>
              <td><%= company.company_info %></td>
              <td><%= link_to 'Show', company %></td>
              <td><%= link_to 'Edit', edit_company_path(company) %></td>
              <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h4>
        <i class="fa fa-plus-circle"></i>
        <%= link_to 'Add Company', new_company_path %>
      </h4>
      <div id="footer">
        <div class="navbar navbar-inner  navbar-fixed-bottom">
          <center><%= link_to 'List of companies', companies_path %></center>
        </div>
      </div>
  </div>
</body>
