<div class="container-fluid">
		<div class="row">
			<div class="jumbotron">
				<div ="container" style="width:800px;margin: 0 auto;">
				 	<h1>Callisto ReInvented</h1>
				 	<p class="lead">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				 	<br></br>
			 	</div>
			</div>
		</div>
	</div>

<div class="container-fluid">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

		<div class="container-fluid" style="width:700px">
			<div class="form-group">
	    		<%= f.label :email %>
	    		<div class="col-sm-6">
	        		<%= f.text_field :email, class: "form-control", autofocus: true %>
	    		</div>
			</div>
	  		<div class="form-group">
	   		 	<%= f.label :password %>
	    		<div class="col-sm-6">
	        		<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
	    		</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-6">
		  		<% if devise_mapping.rememberable? -%>
		    		<div>
		    			<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		    		</div>
		  		<% end %>
		  		</div>
			</div>
	  		<div class="form-group">
	    		<div class="col-sm-offset-1 col-sm-6">
	        		<%= f.submit "Sign in", class: "btn btn-primary" %>
	    		</div>
			</div>
		</div>
	<% end %>
</div>
<div id="footer">
 	<div class="navbar navbar-inner  navbar-fixed-bottom">
   	<%= render "devise/shared/links" %>
 </div>
