<script type="text/javascript">
$(document).ready(function() {
	  var SUCCESS = 1;
	  $.ajax({
	    type: 'GET',
	    url:  '/jobposting/recommend',
	    contentType: 'application/json',
	    dataType:    'json',
	    success: function(data) {
	        console.log(data['errCode']);
	        if (data['errCode'] == SUCCESS) {
	            index = Math.floor(Math.random() * Math.min(10, data['value'].length))
	            post = data['value'][index]
	            id = post[0]['posting_id']

	            // Javascript hyperlink insertion for the recommendation
	            document.getElementById('link_to_update').href = '/posting/posting_id/'+id;

	            $('#rec_title').html(post[0]['title']);
	            $('#rec_company_name').html(post[0]['company_name']);
	            $('#rec_job_type').html(post[0]['job_type']);
	            $('#rec_info').html(post[0]['info']);
	            //console.log(data['value'][1][0]['job_type']);
	        }
	    }
	});
	  $.ajax({
	    type:        'POST',
	    url:         '/users/fill_tags',
	    data:        JSON.stringify(),
	    contentType: 'application/json',
	    dataType:    'json',
	    success:     function(data) {
	      console.log(data['errCode']);
	      if (data['errCode'] == SUCCESS) {
	      }
	    }
	  });
});
</script>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", events_path %></li>
	        	<li><%= link_to "Jobs", '/posting/all' %></li>

	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
	      		<li><%= link_to "You are signed in as "+current_user.type.to_s%></li>
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
  	<div id="jumbotron" class="jumbotron jumbotron-carousel hidden-print">
		<div ="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 text-center">
					<h1>
						<i class="fa fa-angellist"></i>
							Personal Profile
					</h1>
					<p class="lead">
						<i class="fa fa-bell-o"></i>
							Make sure you have your most-updated information!
					</p>
				</div>	
			</div>
		</div>
	</div> 			
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<h1 class="page-header">
					<i class="fa fa-pencil"></i>
					Skills
				</h1>
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="panel-title"><%= current_user.skill %></h3>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="list">
					<div id="alert" class="alert alert-success">
				        <i class="fa fa-info-circle"></i>
				        Want to edit your profile? 
				        <%= link_to "Edit Profile",edit_user_registration_path %>
				    </div>
				</div>
				<div class="list">
					<h4 class="page-header"> Recommendations <small> A list of job recommendations based on your interest. </small></h4>
					<div id="alert" class="alert alert-success">
						<i class="fa fa-info-circle"></i>
			          	Click the job title for more information.
				    </div>
				  	<table class="table table-hover" style="width:100%">
					  	<tr>
					    	<th>Title</th>
					    	<th>Company Name</th> 
					    	<th>Job Type</th>
					  	</tr>
					  	<tr>
					  		<td>
					  			<a id="link_to_update" href="javascript:void(0)">
					  				<div id="rec_title">
					  				</div>
					  			</a>
					  		</td>
					    	<td><div id="rec_company_name"></div></td>
					    	<td><div id="rec_job_type"></div></td>
					  	</tr>
					</table>
					<hr class="half-rule">
				</div>
			</div>
		</div>
	</div>
</body>
