<script type="text/javascript">
$(document).ready(function() {
  var SUCCESS = 1;
  $.ajax({
    type:        'POST',
    url:         '/users/fill_tags',
    data:        JSON.stringify(),
    contentType: 'application/json',
    dataType:    'json',
    success:     function(data) {
      console.log(data['errCode']);
      if (data['errCode'] == SUCCESS) {
      }
    }
  });
});
</script>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
	    <div class="container">
	      <div class="navbar-header">
	          <a class="navbar-brand" href="/">
	            <i class="fa fa-home"></i>
	            Callisto ReInvented
	          </a>
	        </div>
	      	<ul class="nav navbar-nav">
	        	<li><%= link_to "DashBoard", '/users/dashboard' %></li>
	        	<li><%= link_to "Event", events_path %></li>
	        	<li><%= link_to "Jobs", '/posting/all' %></li>

	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
	      		<li><%= link_to "You are signed in as "+current_user.type.to_s%></li>
			    <li><%= link_to "Log Out",  destroy_user_session_path, :method => :delete %></li>
			</ul>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!-- nav bar buttons go here if needed -->
	          </ul>
	      	</div>
	    </div>
  	</div>
  	<div id="jumbotron" class="jumbotron jumbotron-carousel hidden-print">
		<div ="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 text-center">
					<h1>
						<i class="fa fa-angellist"></i>
							Personal Profile
					</h1>
					<p class="lead">
						<i class="fa fa-bell-o"></i>
							Make sure you have the most-updated information about you!
					</p>
				</div>	
			</div>
		</div>
	</div> 			
	<div class="container">
		<div class="row">
			<div class="col-xs-4">
				<h1 class="page-header">
					<i class="fa fa-pencil"></i>
					Skills
				</h1>
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="panel-title"><%= current_user.skill %></h3>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="list">
					<div id="alert" class="alert alert-success">
				        <i class="fa fa-info-circle"></i>
				        Want to edit your profile? 
				        <%= link_to "Edit Profile",edit_user_registration_path %>
				    </div>
				</div>
				<div class="list">
					<h4 class="page-header"> Job Recommendations </h4>
					<table class="table table-hover" style="width:100%">
						<tr>
							<th>Job Title</th>
							<th>Job Type</th> 
							<th>Employer</th>
							<th>Deadline<th>
						</tr>
						<tr>
							<td><%= link_to "Software Engineering", post_path %></td>
							<td>Internship</td> 
							<td>Google</td>
							<td>Oct 6, 20:00</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
