<h1><%= current_user.email %>, Welcome to Profile</h1>
<% if current_user %>
		
		<li>Type: <%= current_user.type %></li>
		
		<% if current_user.type == "employer" %>
			<li>Company ID: <%= current_user.company_name %></li>
			<li>URL: <%= link_to "Company Profile", ('/company/'+current_user.company_name) %> </li>
		<% else %>
			<li>Skill: <%= current_user.skill %></li>
		<% end %>

    <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>